form {
  max-width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  mat-form-field {
    margin-right: 20px;
  }
}

.poke-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px auto;
  max-width: 1500px;
  app-poke-card {
    margin: 20px;
  }
}
