<div class="arena" *ngIf="battle$ | async as battle">
  <div class="pokemon">
    <div class="pokemon-a">
      <app-poke-card [pokemon]="battle.pokemon1"
                     (damage)="attack(battle.pokemon1)"
                     [showActions]="true"
                     (change)="change('poke1', $event)"></app-poke-card>
    </div>

    <div class="pokemon-b">
      <app-poke-card [pokemon]="battle.pokemon2"
                     (damage)="attack(battle.pokemon2)"
                     [showActions]="true"
                     (change)="change('poke2', $event)"></app-poke-card>
    </div>
  </div>

  <strong>Battle Stats</strong>
  <app-battle-display [battle]="battle"></app-battle-display>

</div>
